body {
  padding-top: 50px;
}
.about {
  padding: 40px 15px;
}

.about_image {
  padding-top: 40px;
  padding-right: 10px;
}

.project-image-and-text{
    clear:both;
}

.project-image{
    float:right;
}